@import '../sass/mixins';
@import '../sass/variables';

.gift__{
    &form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        margin-top: 20px;
    }
    &input {
        @include inputStyle;
        width: 100%;
        height: 3em;
        outline: none;
        box-sizing: border-box;
        padding: 0 10px;
    }
    &button {
        @include inputStyle;
        width: 80%;
        height: 2em;
        cursor: pointer;
    }
}