@import './sass/mixins';
@import './sass/variables';

html {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}  

.gift__ {
    &container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $primary;
        min-height: 30rem;
        width: 25rem;
        border-radius: 2em;
        @include boxShadow(3px, 1);
        padding: 1.25rem 2.5rem;
    }
    &title {
        text-align: center;
        margin: 0;
        font-size: 2.25em;
        color: white;
        @include textShadow(2px, 1)
    }
    &footer{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    &total {
        color: $secondary;
        font-size: 1.2em;
        margin-bottom: 0.75em;
    }
}

@media (max-width: 468px) {
    .gift__container {
        width: 18rem;
    }
}