html {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}  

.gift__ {
    &container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(255, 0, 64);
        min-height: 30rem;
        width: 25rem;
        border-radius: 2em;
        box-shadow: 3px 3px 6px black;
        padding: 20px 40px;
    }
    &title {
        text-align: center;
        margin: 0;
        font-size: 36px;
        color: white;
        text-shadow: 2px 2px 4px black;
    }
    &void {
        color: #fafafa;
        font-size: 20px;
        text-shadow: 2px 2px 4px black;
        text-align: center;
    }
}
@media (max-width: 468px) {
    .gift__container {
        width: 18rem;
    }
}